# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.swp
.fuse_hidden*

# Env
.env
.env.*
!.env.example

# feedback

hdx_style_feedback.txt
